.LoginPage {
  display: flex;
  flex-direction: column;
  height: 93vh;/*Since the navbar is of height 7vh*/
  overflow-y: hidden; 
  background-color:#e7e5e4;
}
.credentials{
  display:flex;
  flex-direction: column;
}
.signupcredentials{
display:flex;
flex-direction: column;
gap:3vh;
padding-top:6vmin;

}
.SignupPage{
  width: 100vw;
  height:93vh;
   background-color:#e7e5e4;
   /* background-image: linear-gradient(to right, #a330b8, #158897);  */
  display:flex;
  flex-direction: column;
  gap:5vh;
  font-size: 4vh;
  justify-content: center;

  align-items: center;
  align-self: center;
  padding-bottom: 7vh;
}

.inputfield{
   background-color:#e7e5e4;
  border-image:  linear-gradient(to right, #a330b8, #158897);
       /* background-image: linear-gradient(to right, #a330b8, #158897);  */
  border-image-slice: 1;
  border-width: 0 0 0.5vmin 0;
  
  font-size :3vh;
  opacity: 1; /* Firefox */
  background: linear-gradient(to right, #a330b8, #158897);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}
.inputfield:focus{
  outline:none;
  border-width: 0 0 0.8vmin 0;


}
.loginsignupheading{
  font-size :6vmin;
  opacity: 1; /* Firefox */
  background: linear-gradient(to right, #a330b8, #158897);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}
.inputfield::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size :3vh;
  opacity: 1; /* Firefox */
  background: linear-gradient(to right, #a330b8, #158897);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}


.inputfield::-ms-input-placeholder { /* Microsoft Edge */
  font-size :3vh;
  
  background: linear-gradient(to right, #a330b8, #158897);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
}

.loginsignupbutton{
              margin-top: 5vh;
              background-image: linear-gradient(to right, #a330b8, #158897);
              color: white
            
}
@media (max-width:450px){
.SignupPage{
  font-size:7vw;
}
.loginsignupheading{
  font-size:10vw;
  text-align: center;
  padding: 5vw;
}
.loginsignupbutton{
  margin-top: 8vh;
  height: 8vh;
}
.inputfield::placeholder{
font-size:2.5vh;
}
.inputfield:-ms-input-placeholder{
  font-size: 2.5vh;
}

}