.nav_custom_color_old_choice {
  background-image: linear-gradient(-180deg, #ff89d6 0%, #1037e7 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgb(99, 21, 136) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.nav_custom_colortest {
  height:7vh;
font-size: 2.2vh;/*later on change this cuz if height of window is really less then it becomes a problem*/
min-height: fit-content;
display: flex;
align-items: center;
 font-family: "Comic Sans MS", "Comic Sans",sans-serif;
 text-align: center;
 
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
   .safarinavbar > * + *{/*select element which have a sibling so that i can recreate gap property of flexbox */
      margin: 0 0 0 3vw;
}
@media (max-width:700px){

  .nav_custom_colortest{
    font-size:3vw;
  }
  .navlogo{
    font-size:4vw;
  }
}
.gradientbuttonloop {
  /* background-image: linear-gradient(to right, #e040fb, #00bcd4); */
  /* color:#eeeeee; */
  border-radius: 105px;
  width: 9vh;
  height: 4vh;
  z-index: 1;
  transition: all 0.4s ease;
}
.gradientbuttonloop:hover {
  -webkit-animation: gradient 3s ease infinite;
  -moz-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}
.logoutbutton:hover{
  cursor:pointer;
}
