.video_player {
  height: auto;

  width: 101%;
  display: block;
  z-index: -1;
  position: relative;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
  margin-left: -10px;
  overflow-y: hidden;
  overflow-x: hidden;
}
